<h2>Reactivos: Switches</h2>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">

    <!--RADIO-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input formControlName="genero" value="M" class="form-check-input" type="radio" id="radioMasculino">
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
            </div>


            <div class="form-check">
                <input formControlName="genero" value="F" class="form-check-input" type="radio" id="radioFemenino">
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
            </div>

        </div>
    </div>

    <!--SWITCHES-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label ">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input formControlName="notificaciones" class="form-check-input" type="checkbox" role="switch" id="switchId">
                <label class="form-check-label" for="switchId">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>

    <!--CHECKBOX-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input formControlName="condiciones" class="form-check-input" type="checkbox" id="checkId">
                <label class="form-check-label" for="checkId">
                  Terminos y Condiciones de uso
                </label>
            </div>
        </div>
    </div>

    <!--BOTON SUBMIT-->
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>


    <h5>Valor del formulario</h5>
    <pre>{{miFormulario.value | json}}</pre>
    <br>

    <h5>Persona</h5>
    <pre>{{persona | json}}</pre>
    <br>


    <h5>Valid:</h5>
    <pre>{{miFormulario.valid}}</pre>
    <br>

    <!-- <h5>Terminos</h5>
    <pre>{{miFormulario?.controls?.['terminos']?.errors | json}}</pre>
    <br>

    <pre>Condiciones: </pre> -->


</form>